<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barbieflix</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #fadce6 ;">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Barbie_Logo.svg/2560px-Barbie_Logo.svg.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <a class="navbar-item" href="https://bulma.io">
        <div class="navbar-start">
          <a href="/pelis" class="navbar-item" style="color: #cb1c7d;">
            Películas
          </a>
          <a href="/pelis/nueva" class="navbar-item" style="color: #cb1c7d;">
            Agregar Película
          </a>
          <a href="/perros" class="navbar-item" style="color: #cb1c7d;">
            Perritos
          </a>
          <a href="/perros/nuevo" class="navbar-item" style="color: #cb1c7d;">
            Agregar perrito
          </a>
          <a href="/ingresar/encuesta" class="navbar-item" style="color: #cb1c7d;">
            Ver lab11
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="usuarios/logout" class="button is-danger" style="background-color: #cb1c7d;">
                Salir
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>
  </nav>
  <br>
  <div class="container">