    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
            <strong style="color:#fe46a5">María Fernanda Moreno Gómez</strong> A01708653. Hecho en Visual Studio Code
            <a href="https://code.visualstudio.com/" style="color:#fe46a5">VSC</a>. Lab12
            </p>
        </div>
    </footer>
</body>
</html>